/*==============================
SCROLL REVEAL
==============================*/

.hidden{

opacity:0;

transform:translateY(80px);

transition:
opacity .8s ease,
transform .8s ease;

}

.show{

opacity:1;

transform:translateY(0);

}

.fade-up{

opacity:0;

transform:translateY(80px);

transition:.0.9s;
transition-delay: 1s;

}

.fade-up.show{

opacity:1;

transform:translateY(0);

}

.fade-left{

opacity:0;

transform:translateX(-100px);

transition:.1.2s;
transition-delay: 0.8s;

}

.fade-left.show{

opacity:1;

transform:translateX(0);

}


.fade-right{

opacity:0;

transform:translateX(100px);

transition:.1.4s;
transition-delay: 0.5s;

}

.fade-right.show{

opacity:1;

transform:translateX(0);

}

.zoom{

opacity:0;

transform:scale(.85);

transition:.8s;
transition-delay: 0.4s;

}

.zoom.show{

opacity:1;

transform:scale(1);

}